Counting.CSharp/bin/
Counting.CSharp/obj/
Counting.Shared/bin/
Counting.Shared/obj/
Counting.Sink/bin/
Counting.Sink/obj/
Counting.Ventilator/bin/
Counting.Ventilator/obj/
Counting.Worker/bin/
Counting.Worker/obj/
packages/